<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="saving-page">
    <template>
        <style>
            @media (max-width: 1023px) {
                #ammounts {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

            }

            paper-dropdown-menu,
            paper-listbox {
                width: 100%;
            }

            per-dropdown-menu {
                height: 200px;
                margin: auto;
                display: block;
            }

            #conteiner {
                padding: 30px;
            }


            #title {
                text-align: center;
                margin-bottom: 100px;
            }

            #title>img {
                width: 30%;
                display: block;
                margin: 0 auto;
            }

            #ammounts {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            #ammounts>paper-button {
                flex-basis: 48%;
                margin: 5px;
                color: #ffffff;
                background-color: skyblue;
                padding: 50px 0;
                transition: 1s;
                font-size: 32px;
            }

            #ammounts>paper-button:hover {
                transform: scale(.9);
            }
        </style>

        <iron-ajax id="saving" url="http://localhost:3002/savingAmount" method="post" last-response="{{ajaxResponse}}"
            on-response="handleResponse" content-type="application/json">
        </iron-ajax>

        <iron-ajax id="comprobante" url="http://localhost:3002/comprobante" method="get"
            last-response="{{ajaxResponseComprobante}}" on-response="handleResponseComprobante"
            content-type="application/json">
        </iron-ajax>


        <paper-alert-dialog id="midialog2" title="Exito" confirm-button="OK">
            <paper-alert-dialog-icon-header icon="">¡Felicidades!</paper-alert-dialog-icon-header>
            Se registró tu movimiento
        </paper-alert-dialog>



        <iron-ajax  auto id="listComprobante" url="http://localhost:3002/listComprobante" method="get"
            last-response="{{ajaxResponseListComprobante}}" on-response="handleResponseListComprobante"
            content-type="application/json" params="{{data}}">
        </iron-ajax>

        <paper-alert-dialog id="midialog" title="Excelente" confirm-button="Si" dismiss-button="No"
            on-confirm="confirm">
            <paper-alert-dialog-icon-header icon="">¿Quieres ahorrar ${{ammount}}?</paper-alert-dialog-icon-header>
        </paper-alert-dialog>

        <div id="conteiner">
            <div id="title">
                <img src="./src/imgs/money.png" alt="">
                <p>Hola {{name}}, hoy es buen dia para ahorrar</p>
            </div>

            <h2>Escoge la cantidad que quieres ahorrar</h2>
            <div id="ammounts">
                <dom-repeat items="{{ammounts}}">
                    <template>
                        <paper-button on-click="saving" id$="{{index}}">${{item}}</paper-button>
                    </template>
                </dom-repeat>
            </div>


            <div>
                <h2>Descargar comprobante</h2>

                <paper-dropdown-menu label="Comprobante">
                    <paper-listbox slot="dropdown-content">

                        <dom-repeat items="{{downloadPdf}}">
                            <template>
                                <a href="{{item.path}}" download>
                                    <paper-item id$="{{index}}">{{item.name}}</paper-item>
                                </a>
                            </template>
                        </dom-repeat>

                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class SavingPage extends Polymer.Element {
            static get is() {
                return 'saving-page';
            }
            static get properties() {
                return {
                    ammounts: {
                        type: Array,
                        value: [50, 100, 200, 500]
                    },
                    ammount: {
                        type: Number
                    },
                    name: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("name")
                        }
                    },
                    idClient: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("id")
                        }
                    },
                    data: {
                        type: Object,
                        value: {
                            idClient: "A" + localStorage.getItem("id")
                        }
                    }
                };
            }

            confirm() {
                const obj = {
                    idClient: this.idClient,
                    ammount: this.ammount,
                    type: "Ahorro"
                };

                this.$.saving.body = obj;
                this.$.saving.generateRequest();
            }

            saving(event) {

                this.ammount = this.ammounts[event.target.id];

                const text = this.name + ",¿Quieres ahorrar " + this.ammount + "pesos?";
                this.$.midialog.open();
                talk(text);
            }




            handleResponse() {
               
                var d = new Date();
                const date = new Date(d.getFullYear(), d.getMonth(), d.getDate());
                const monthText = date.toLocaleString('default', {
                    month: 'long'
                });

                const monthCapitalized = monthText.charAt(0).toUpperCase() + monthText.slice(1);

                const obj = {
                    idClient: "A" + this.idClient,
                    name: this.name,
                    ammount: this.ammount,
                    day: d.getDate(),
                    month: monthCapitalized,
                    year: d.getFullYear(),
                    hours: d.getHours(),
                    minutes: d.getMinutes(),
                    seconds: d.getSeconds(),
                    numberCie:Math.floor(Math.random() * 999999),
                    reference:Math.floor(Math.random() * 9999999999)
                }

                this.$.comprobante.params = obj;
                this.$.comprobante.generateRequest();

                this.$.midialog2.open();
                talk("Felicidades. Se registró tu movimiento");
            }


            handleResponseComprobante() {
                const obj = {
                    idClient: "A" +this.idClient,

                }
                this.$.listComprobante.params = obj;
                this.$.listComprobante.generateRequest();

            }


            handleResponseListComprobante() {
                var pdfName = this.ajaxResponseListComprobante;
                
                this.downloadPdf = pdfName.map((a) => {
                    return {
                        name: a.split("-")[1],
                        path: "http://localhost:3002/downloadFile/" + a.replace("./pdfs/", "")
                    }
                });


                
            }
        }

        window.customElements.define(SavingPage.is, SavingPage);
    </script>
</dom-module>