<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="error404-page">
    <template>
        <style>
            h1,
            p {
                text-align: center;
            }

            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        </style>


        <h1>Página no encontrada</h1>
        <img src="./src/imgs/404.png" alt="404">
        <p>Te rederigiremos a la pagina principal en unos momentos.</p>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class Error404Page extends Polymer.Element {
            static get is() {
                return 'error404-page';
            }
            static get properties() {
                return {};
            }

        }
        window.customElements.define(Error404Page.is, Error404Page);
    </script>
</dom-module>