<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../custom-chart/custom-chart.html">


<dom-module id="resume-page">
    <template>
        <style>
            @media (max-width: 1023px) {
                #searchMove {
                    flex-direction: column;
                }

                #searchMove>paper-input {
                    width: 100%;
                }

                #searchMove>paper-icon-button {
                    width: 100%;
                }

                #searchMove>paper-dropdown-menu {
                    width: 100%;
                }
            }


            #container {
                padding: 30px;
            }

            .seccion>img {
                display: block;
                margin: 0 auto;
            }

            .seccion>h2 {
                margin-left: 60px;
            }

            .activityBox {
                display: flex;
                background-color: #DEE2F6;
                border-radius: 6px;
                align-items: center;
                padding: 20px;
                margin: 10px 60px;
            }

            .activityBox>img {
                width: 60px;
                height: 60px;
                display: block;
            }

            .activityBox>div {
                flex: 1;
                display: flex;
                justify-content: space-between;
            }

            #searchMove {
                display: flex;
                align-items: center;
            }

            #searchMove>paper-input {
                flex: 1;
                margin: 5px;
            }

            #searchMove>paper-icon-button {
                color: #ffffff;
                background-color: #048484;
                border-radius: 3px;
                margin: 5px;
            }
        </style>



        <iron-ajax id="movementClient" url="http://localhost:3002/movementClient" method="get" content-type="application/json"
            last-response="{{ajaxResponse}}" on-response="handleResponse">
        </iron-ajax>


        <iron-ajax auto url="http://localhost:3002/accountClient" method="get" content-type="application/json"
            last-response="{{ajaxResponseAccountClient}}" on-response="_handleResponseAccountClient"
            params="{{idClient}}">
        </iron-ajax>


        <paper-alert-dialog id="midialog" title="Upss" confirm-button="OK">
            <paper-alert-dialog-icon-header icon="">¡Que mal!</paper-alert-dialog-icon-header>
            "Por favor,selecciona una cuenta y movimiento"
        </paper-alert-dialog>

        <div id="container">
            <custom-chart money="{{money}}" date="{{date}}"></custom-chart>



            <div id="searchMove">
                <paper-dropdown-menu label="Cuenta">
                    <paper-listbox slot="dropdown-content">
                        <dom-repeat items="{{accounts}}">
                            <template>
                                <paper-item id$="{{index}}" on-click="selectAccount">{{item}}</paper-item>
                            </template>
                        </dom-repeat>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-dropdown-menu label="Tipo de movimientos">
                    <paper-listbox slot="dropdown-content">
                        <dom-repeat items="{{movements}}">
                            <template>
                                <paper-item id$="{{index}}" on-click="selectMovement">{{item}}</paper-item>
                            </template>
                        </dom-repeat>
                    </paper-listbox>
                </paper-dropdown-menu>



                <paper-input label="Fecha Inicio" value="{{startDate}}" type="date" required="true">
                    <iron-icon icon="schedule" slot="prefix"></iron-icon>
                </paper-input>

                <paper-input label="Fecha Fin" value="{{endDate}}" type="date" required="true">
                    <iron-icon icon="schedule" slot="prefix"></iron-icon>
                </paper-input>

                <paper-icon-button icon="search" title="search" on-click="seachMovements"></paper-icon-button>
            </div>



            <section class="seccion">
                <h2>Movimientos</h2>
                <div>

                    <dom-repeat items="{{activity}}">
                        <template>
                            <div class="activityBox">
                                <img src$="{{item.img}}" alt="arrow">
                                <div>
                                    <div>
                                        <h3>{{item.reason}}</h3>
                                        <p>${{item.amount}}</p>
                                    </div>
                                    <div>
                                        <p>{{item.date}}</p>
                                        <p>{{item.time}}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </dom-repeat>


                </div>
            </section>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ResumePage extends Polymer.Element {
            static get is() {
                return 'resume-page';
            }
            static get properties() {
                return {
                    idClient: {
                        type: Object,
                        value: function () {
                            return {
                                idClient: localStorage.getItem("id")
                            }
                        }
                    },
                    movements: {
                        type: Array,
                        value: ["Compra en linea", "Ahorro", "Inversion"]
                    },
                    account: {
                        type: String
                    },
                    movement: {
                        type: String
                    }
                };
            }



            _handleResponseAccountClient() {
                this.accounts = [this.ajaxResponseAccountClient.cuenta];
            }

            selectAccount(event) {
                this.account = this.accounts[event.target.id];

            }

            selectMovement(event) {
                this.movement = this.movements[event.target.id];
            }


            seachMovements() {

                var newStartDate;
                if (this.startDate === "") {
                    newStartDate = "2020-01-01";
                } else {
                    newStartDate = this.startDate;
                }




                var newEndDate = new Date();
                if (this.endDate === "") {
                    newEndDate = newEndDate.getFullYear() + "-" + ("0" + (newEndDate.getMonth() + 1)).slice(-
                            2) + "-" +
                        newEndDate.getDate();
                } else {
                    newEndDate = this.endDate;
                }




                if (!this.account || !this.movement) {


                    this.$.midialog.open();
                    talk("Por favor,selecciona una cuenta y  movimiento");
                } else {

                    const obj = {
                        idClient: this.idClient.idClient,
                        bankAccount: this.account,
                        movement: this.movement,
                        startDate: newStartDate,
                        endDate: newEndDate
                    };


                    this.$.movementClient.params = obj;
                    this.$.movementClient.generateRequest();
                }

            }

            handleResponse() {
                
                this.activity = this.ajaxResponse.map((a) => {
                    var n;
                    if (typeof a.importe === 'object') {
                        n = Number(a.importe.$numberInt);

                    } else {
                        n = Number(a.importe);

                    }

                    var d = Number(a.fecha.$date.$numberLong);

                    const splitDate = new Date(d).toISOString().split("T");
                    const date = splitDate[0];
                    const time = splitDate[1].replace(/\.\d+/, "").replace("Z", "");
                    const img = (n < 0) ? "./src/imgs/down-arrow.png" :
                        "./src/imgs/up-arrow.png";

                    return {
                        reason: a.tipo,
                        amount: n,
                        date: date,
                        time: time,
                        img: img
                    }
                });
                this.money = this.activity.map((a) => (Number(a.amount)));
                this.date = this.activity.map((a) => (a.date));
              
            }
            
        }




        window.customElements.define(ResumePage.is, ResumePage);
    </script>

</dom-module>