<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../register-shop/register-shop.html">
<link rel="import" href="../resume-shop/resume-shop.html">

<dom-module id="shopping-control">
    <template>
        <style>
            paper-tabs {
                width: 100%;
                color: blue;
                --paper-tabs-selection-bar-color: blue;
            }

            .link {
                @apply --layout-horizontal;
                @apply --layout-center-center;
                color: blue;
                text-decoration: none;
            }
        </style>

        <paper-tabs selected="{{selected}}">
            <paper-tab link>
                <a href="#RegistrarCompra" class="link" tabindex="-1">Registrar Compra</a>
            </paper-tab>
            <paper-tab link>
                <a href="#HistorialCompra" class="link" tabindex="-1">Historial Compra</a>
            </paper-tab>
        </paper-tabs>

        <iron-pages selected="{{selected}}">
            <register-shop></register-shop>
            <resume-shop></resume-shop>
        </iron-pages>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ShoppingControl extends Polymer.Element {
            static get is() {
                return 'shopping-control';
            }
            static get properties() {
                return {
                    selected: {
                        type: Number,
                        value: 0
                    }
                };
            }

        }

        window.customElements.define(ShoppingControl.is, ShoppingControl);
    </script>
</dom-module>