<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="resume-shop">
    <template>
        <style>
            @media (max-width: 1023px) {
                #products {
                    display: block !important;
                }
            }

#containerPadding{
    padding: 30px;
}
            .seccion div {
                display: flex;
            }

            #products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .article {
                margin-top: 10px;
                flex-basis: 31%;
                padding: 10px;
                border-radius: 6px;
                box-shadow: 3px 3px 6px #cccccc;
            }

            .container {
                position: relative;
                width: 100%;
                overflow: hidden;
                padding-top: 56.25%;
                /* 16:9 Aspect Ratio */
            }

            .responsive-iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        </style>

        <iron-ajax id="movementClient" url="http://localhost:3002/movementClient" method="get" handle-as="json"
            last-response="{{ajaxResponse}}" on-response="handleResponse">
        </iron-ajax>

<div id="containerPadding">
        <h2>Articulos de empleados <paper-icon-button icon="search" title="search" on-click="seachMovements">
            </paper-icon-button>
        </h2>

        <section id="products">

            <dom-repeat items="{{shops}}">
                <template>

                    <div class="article">
                        <div class="container">
                            <iframe src$="{{item.videoPreview}}" class="responsive-iframe" title="video preview" type="text/html"></iframe>
                        </div>
                        <div>
                            <h3>{{item.titlePreview}}</h3>
                            <p>{{item.descriptionProductPreview}}</p>
                            
                        </div>
                    </div>
                </template>
            </dom-repeat>




        </section>
    </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ResumeShop extends Polymer.Element {
            static get is() {
                return 'resume-shop';
            }
            static get properties() {
                return {
                    idClient: {
                        type: Object,
                        value: function () {
                            return {
                                idClient: localStorage.getItem("id")
                            }
                        }
                    }
                };
            }

            seachMovements() {
                var d = new Date();
                var newStartDate = "2020-01-01";





                var newEndDate = d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-
                        2) + "-" +
                    d.getDate();


                const obj = {
                    idClient: this.idClient.idClient,
                    movement: "Compra en linea",
                    startDate: newStartDate,
                    endDate: newEndDate
                };

                console.log(obj);
                this.$.movementClient.params = obj;
                this.$.movementClient.generateRequest();

            }

            handleResponse() {
                this.shops = this.ajaxResponse;
            }

        }

        window.customElements.define(ResumeShop.is, ResumeShop);
    </script>
</dom-module>