<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="invert-page">
    <template>
        <style>
            paper-dropdown-menu,
            paper-listbox {
                width: 100%;
            }

            per-dropdown-menu {
                height: 200px;
                margin: auto;
                display: block;
            }

            #conteiner {
                padding: 30px;
            }


            #title {
                text-align: center;
                margin-bottom: 100px;
            }

            #title>img {
                width: 30%;
                display: block;
                margin: 0 auto;
            }

            #title>#cursive {
                font-style: italic;
            }


            #ammounts {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            #ammounts>paper-button {
                flex-basis: 48%;
                margin: 5px;
                color: #ffffff;
                background-color: skyblue;
                padding: 50px 0;
                transition: 1s;
                font-size: 32px;
            }

            #ammounts>paper-button:hover {
                transform: scale(.9);
            }


            #btnInvert {
                width: 100%;
                color: #ffffff;
                background-color: #048484;
            }

            #result {
                font-size: 32px;
                text-align: center;
            }

            @media (max-width: 1023px) {
                #ammounts {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

            }
        </style>

        <iron-ajax id="saving" url="http://localhost:3002/savingAmount" method="post" last-response="{{ajaxResponse}}"
            on-response="handleResponse" content-type="application/json">
        </iron-ajax>

        <iron-ajax id="comprobante" url="http://localhost:3002/comprobante" method="get"
            last-response="{{ajaxResponseComprobante}}" on-response="handleResponseComprobante"
            content-type="application/json">
        </iron-ajax>

        <iron-ajax auto id="listComprobante" url="http://localhost:3002/listComprobante" method="get"
            last-response="{{ajaxResponseListComprobante}}" on-response="handleResponseListComprobante"
            content-type="application/json" params="{{data}}">
        </iron-ajax>

        <paper-alert-dialog id="midialog" title="Excelente" confirm-button="Si" dismiss-button="No"
        on-confirm="confirm">
        <paper-alert-dialog-icon-header icon="">¿Quieres invertir ${{ammount}}?</paper-alert-dialog-icon-header>
    </paper-alert-dialog>


    <paper-alert-dialog id="midialog2" title="Exito" confirm-button="OK">
        <paper-alert-dialog-icon-header icon="">¡Felicidades!</paper-alert-dialog-icon-header>
        Se registró tu movimiento
    </paper-alert-dialog>

        <div id="conteiner">
            <div id="title">
                <img src="./src/imgs/moneytime.png" alt="">
                <p>Hola {{name}}, ¿Te gusaria ganar más dinero?</p>
                <p id="cursive">"Inverir es una buena forma de ganar dinerito. No te arrepentiras"</p>
            </div>

            <h2>Escoge la cantidad a invertir</h2>
            <div id="ammounts">
                <dom-repeat items="{{ammounts}}">
                    <template>
                        <paper-button id$="{{index}}" on-click="buttonChanged">${{item}}</paper-button>
                    </template>
                </dom-repeat>
            </div>

            <h2>Escoge el timpo a invertir </h2>
            <div>
                <paper-radio-group selected="0">
                    <dom-repeat items="{{invertTime}}">
                        <template>
                            <paper-radio-button id$="{{index}}" name$="{{index}}" on-change="radiobuttonChanged">
                                {{item}} días
                            </paper-radio-button>
                        </template>
                    </dom-repeat>
                </paper-radio-group>
            </div>

            <p id="result"> ${{ammount}}.00 x {{time}} dias = Te regresamos ${{result}}.00 </p>

            <paper-button id="btnInvert" on-click="registerInvert">Invertir</paper-button>

            <div>
                <h2>Descargar comprobante</h2>

                <paper-dropdown-menu label="Comprobante">
                    <paper-listbox slot="dropdown-content">

                        <dom-repeat items="{{downloadPdf}}">
                            <template>
                                <a href="{{item.path}}" download>
                                    <paper-item id$="{{index}}">{{item.name}}</paper-item>
                                </a>
                            </template>
                        </dom-repeat>

                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class InvertPage extends Polymer.Element {
            static get is() {
                return 'invert-page';
            }
            static get properties() {
                return {
                    name: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("name")
                        }
                    },
                    idClient: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("id")
                        }
                    },
                    invertTime: {
                        type: Array,
                        value: [7, 30, 60, 120]
                    },
                    ammounts: {
                        type: Array,
                        value: [50, 100, 200, 500]
                    },
                    ammount: {
                        type: Number
                    },
                    time: {
                        type: Number,
                        value: 7
                    },
                    result: {
                        type: Number,
                        value: 0
                    },
                    data: {
                        type: Object,
                        value: {
                            idClient: "I" + localStorage.getItem("id")
                        }
                    }

                };
            }

            registerInvert() {
                if (!this.time || !this.ammount || !this.result) {
                    alert("Selecciona todos los campos");
                } else {
                    const text = this.name + ",¿Quieres invertir " + this.ammount + "pesos?";
                    this.$.midialog.open();
                    talk(text);
                }
            }

            buttonChanged(event) {
                this.ammount = this.ammounts[event.target.id];
                this.result = this.ammount + this.time;
            }

            radiobuttonChanged(event) {
                this.time = this.invertTime[event.target.id];
                this.result = this.ammount + this.time;
            }

            //--------------------------------------

            confirm() {
                const obj = {
                    idClient: this.idClient,
                    ammount: this.result,
                    type: "Inversion"
                };

                this.$.saving.body = obj;
                this.$.saving.generateRequest();
            }






            handleResponse() {


                var d = new Date();
                const date = new Date(d.getFullYear(), d.getMonth(), d.getDate());
                const monthText = date.toLocaleString('default', {
                    month: 'long'
                });

                const monthCapitalized = monthText.charAt(0).toUpperCase() + monthText.slice(1);

                const obj = {
                    idClient: "I" + this.idClient,
                    name: this.name,
                    ammount: this.ammount,
                    day: d.getDate(),
                    month: monthCapitalized,
                    year: d.getFullYear(),
                    hours: d.getHours(),
                    minutes: d.getMinutes(),
                    seconds: d.getSeconds()
                    
                }

                this.$.comprobante.params = obj;
                this.$.comprobante.generateRequest();
            }


            handleResponseComprobante() {
                const obj = {
                    idClient: "I"+this.idClient
                }
                this.$.listComprobante.params = obj;
                this.$.listComprobante.generateRequest();

                this.$.midialog2.open();
                talk("Felicidades. Se registró tu movimiento");
            }


            handleResponseListComprobante() {
                var pdfName = this.ajaxResponseListComprobante;
               
                this.downloadPdf = pdfName.map((a) => {
                    return {
                        name: a.split("-")[1],
                        path: "http://localhost:3002/downloadFile/" + a.replace("./pdfs/", "")
                    }
                });

                
            }


        }

        window.customElements.define(InvertPage.is, InvertPage);
    </script>
</dom-module>