<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/gold-cc-input/gold-cc-input.html">

<dom-module id="register-page">
  <template>
    <style>
      h2 {
        text-align: center;
      }

      #cards {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #cards img {
        display: inline-block;
        width: 30%;
        padding: 0 20px;
        cursor: pointer;
        transition: 1s;
      }

      #cards img:hover {
        transform: scale(1.2);
      }

      app-toolbar {
        background-color: #004481;
      }

      #logo {
        display: block;
        width: 60px;
      }

      paper-button {
        color: #ffffff;
        background-color: #048484;
      }

      iron-form>form {
        padding: 20px;
        display: flex;
        flex-direction: column;
      }

      iron-form>form>paper-button {
        margin: 10px 0;
      }
    </style>


    <iron-ajax id="registerClient" url="http://localhost:3002/registerClient" method="post"
      content-type="application/json" last-response="{{ajaxResponseRegister}}" on-response="handleResponseRegister">
    </iron-ajax>

    <iron-ajax id="searchDataZipCode" url="http://localhost:3002/informationZipCode" method="get"
      content-type="application/json" last-response="{{ajaxResponseZipCode}}" on-response="handleResponseDataZipCode">
    </iron-ajax>

    <paper-alert-dialog id="midialog" title$="{{title}}" confirm-button="OK" on-confirm="login">
      <paper-alert-dialog-icon-header icon="">{{header}}</paper-alert-dialog-icon-header>
      {{message}}
    </paper-alert-dialog>

    <paper-alert-dialog id="midialog2" title="Dirección" confirm-button="OK">
      <paper-radio-group>
        <dom-repeat items="{{dataZipCode}}">
          <template>
            <paper-radio-button id$="{{index}}" name="{{index}}" on-change="radiobuttonChanged">
              <p>Asentamiento: {{item.asentamiento}}</p>
              <p>Municipio: {{item.municipio}}</p>
              <p>Estado: {{item.estado}}</p>
              <p>País: {{item.pais}}</p>
            </paper-radio-button>
          </template>
        </dom-repeat>
      </paper-radio-group>
    </paper-alert-dialog>



    <app-toolbar>
      <paper-icon-button icon=""></paper-icon-button>
      <div main-title>
        <img id="logo" src="./src/imgs/bbvaheader2.png" alt="image">
      </div>
      <paper-button id="btnRegister" on-click="changeLogin">Entrar</paper-button>
    </app-toolbar>

    <iron-form id="ironform">
      <form id="form">

        <h2>Escoge tu tarjeta y llena la información</h2>
        <div id="cards">
          <img src="./src/imgs/linkcard.png" alt="" on-click="changeTypeDebitCardLink">
          <img src="./src/imgs/debitcard2.png" alt="" on-click="changeTypeDebitCardBasic">
        </div>
        <paper-input value="{{typeDebitCard}}" label="Tipo de tarjeta" disabled required>
          <iron-icon icon="payment" slot="prefix"></iron-icon>
        </paper-input>

        <paper-input value="{{bankAccount}}" label="Cuenta bancaria" auto-validate pattern="\d{10}"
          error-message="Cuenta bancaria invalida" char-counter maxlength="10" required>
          <iron-icon icon="payment" slot="prefix"></iron-icon>
        </paper-input>

        <gold-cc-input auto-validate label="Número de tarjeta" error-message="Tarjeta Visa invalida"
          card-types='["visa"]' value="{{debitCard}}" char-counter maxlength="16" required>
        </gold-cc-input>

        <paper-input value="{{name}}" label="Nombre" auto-validate pattern="[a-zA-Z]*" error-message="Nombre invalido"
          required>
          <iron-icon icon="perm-identity" slot="prefix"></iron-icon>
        </paper-input>


        <paper-input value="{{lastName}}" label="Apellido" auto-validate pattern="[a-zA-Z]*"
          error-message="Apellido invalido" required>
          <iron-icon icon="perm-identity" slot="prefix"></iron-icon>
        </paper-input>

        <paper-input value="{{zipCode}}" label="Código Postal" auto-validate pattern="\d{5}"
          error-message="Código postal invalido" char-counter maxlength="5" on-input="seachDataZipCode" required>
          <iron-icon icon="room" slot="prefix"></iron-icon>
        </paper-input>

        <p>Asentamiento: {{addresses.asentamiento}}</p>
        <p>Municipio: {{addresses.municipio}}</p>
        <p>Estado: {{addresses.estado}}</p>
        <p>País: {{addresses.pais}}</p>

        <paper-input value="{{mail}}" label="Correo" type="email" auto-validate
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$" error-message="Correo invalido" required>
          <iron-icon icon="mail" slot="prefix" type="number"></iron-icon>
        </paper-input>

        <paper-input value="{{password}}" label="Contraseña" type="password" required>
          <iron-icon icon="lock" slot="prefix"></iron-icon>
        </paper-input>
        <paper-button on-click="registerUser">Registrar</paper-button>

      </form>
    </iron-form>
  </template>

  <script>
    class RegisterPage extends Polymer.Element {
      static get is() {
        return 'register-page';
      }
      static get properties() {
        return {
          addresses: {
            type: Object
          }
        };
      }

      seachDataZipCode() {
        if (this.zipCode.length === 5 && !isNaN(this.zipCode)) {

          const obj = {
            zipCode: this.zipCode
          };
          this.$.searchDataZipCode.params = obj;
          this.$.searchDataZipCode.generateRequest();
        }
      }

      radiobuttonChanged(event) {
        this.addresses = this.dataZipCode[event.target.id];
      }


      login() {
        if (this.title === "Exito") {
          window.location.replace("/");
        }
      }
      changeLogin(){
        window.location.replace("/");
      }

      registerUser() {
        if (!this.typeDebitCard || !this.debitCard || !this.name || !this.lastName || !this.zipCode || !this.mail ||
          !this.password || !this.addresses || !this.$.ironform.validate()) {

          this.title = "Upss";
          this.header = "¡Que mal!";
          this.message = message.errorForm;
          this.$.midialog.open();
          talk(message.errorForm)

        } else {
          var obj = {
            name: this.name,
            lastName: this.lastName,
            mail: this.mail,
            bankAccount: this.bankAccount,
            typeDebitCard: this.typeDebitCard,
            debitCard: this.debitCard,
            password: this.password,
            addresses: {
              neighborhood: this.addresses.asentamiento,
              city: this.addresses.municipio,
              state: this.addresses.estado,
              country: this.addresses.pais
            }
          };
          this.$.registerClient.body = obj;
          this.$.registerClient.generateRequest();
        }

      }

      handleResponseRegister() {
        if (this.ajaxResponseRegister !== "" && this.ajaxResponseRegister !== null) {

          this.title = "Exito";
          this.header = "¡Felicidades!";
          this.message = this.name + message.greatLogin;
          this.$.midialog.open();
          talk(this.name + message.greatLogin);

        }else{

          this.title = "Upss";
          this.header = "¡Que mal!";
          this.message = message.existClient;
          this.$.midialog.open();
          talk(message.existClient)
        }
      }

      handleResponseDataZipCode() {
        if (this.ajaxResponseZipCode !== "") {
          this.dataZipCode = this.ajaxResponseZipCode.map((a) => (a.response));
          this.$.midialog2.open();
        }
      }

      changeTypeDebitCardLink() {
        this.typeDebitCard = "Link Card"
      }
      changeTypeDebitCardBasic() {
        this.typeDebitCard = "Basic"
      }

    }

    window.customElements.define(RegisterPage.is, RegisterPage);
  </script>
</dom-module>