<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../home-page/user-page.html">
<link rel="import" href="../resume-page/resume-page.html">
<link rel="import" href="../shopping-control/shopping-control.html">
<link rel="import" href="../saving-page/saving-page.html">
<link rel="import" href="../invert-page/invert-page.html">
<link rel="import" href="../option-page/option-page.html">


<dom-module id="home-page">
  <template>
    <style>
      paper-item {
        cursor: pointer;
      }

      #drawer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      #drawer>div>img{
        display: block;
        width: 90%;
        margin: 10px;
      }
      #btnLogout{
        background-color: #990000;
        color: #ffffff;
        margin-top: 6px;
      }


      app-toolbar {
        color: #ffffff;
        background-color: #004481;
      }

      #logo {
        display: block;
        width: 60px;
      }

      paper-button {
        color: #ffffff;
        background-color: #048484;
      }
    </style>



    <app-drawer-layout force-narrow>

      <app-drawer id="drawer" slot="drawer">

        <div>
          <img src="./src/imgs/bbvaLogo.png" alt="bbvaLogo">
          <h2>Bienvenido {{nameUser}}</h2>
        </div>

        <paper-menu>

          <dom-repeat items="{{menuOption}}">
            <template>

              <paper-item id$="{{index}}" on-click="changePage">
                <paper-icon-item>
                  <iron-icon icon="{{item.icon}}" slot="item-icon"></iron-icon>
                  {{item.name}}
                </paper-icon-item>
              </paper-item>

            </template>
          </dom-repeat>

        </paper-menu>

        <paper-button on-click="logout" id="btnLogout">Cerrar la sesión</paper-button>

      </app-drawer>

      <app-header-layout>

        <app-header reveals effects="waterfall" slot="header">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <img id="logo" src="./src/imgs/bbvaheader2.png" alt="image">
          </app-toolbar>
        </app-header>


        <iron-pages selected="{{numeroPagina}}">
          <user-page></user-page>
          <resume-page></resume-page>
          <shopping-control></shopping-control>
          <saving-page></saving-page>
          <invert-page></invert-page>
          <option-page></option-page>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>






  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomePage extends Polymer.Element {
      static get is() {
        return 'home-page';
      }
      static get properties() {
        return {
          numeroPagina: {
            type: Number,
            value: 0
          },
          nameUser: {
            type: String,
            value: function(){
              return localStorage.getItem("name")
            }
          },
          menuOption:{
            type:Array,
            value:[
              {
                name: "Movimientos",
                icon: "schedule",
              },{
                name: "Shopping Control",
                icon: "shopping-cart",
              },
              {
                name: "Ahorrar",
                icon: "favorite",
              },
              {
                name: "Invertir",
                icon: "trending-up",
              },
              {
                name: "Opciones",
                icon: "build",
              }
            ]
          }
        };
      }
     
      changePage(event) {
        this.numeroPagina = Number(event.target.id)+1;
      }

      logout(){
        sessionStorage.clear();
        localStorage.clear();
        window.location.replace("/");
      }
    }

    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>