<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-page">
    <template>
        <style>
            #tip {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        </style>



        <div id="tip">
            <h1>Tip del día</h1>
            <p>{{nameUser}}, {{message}}</p>
        </div>



    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class UserPage extends Polymer.Element {
            static get is() {
                return 'user-page';
            }
            static get properties() {
                return {
                    nameUser: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("name")
                        }
                    },
                    tips: {
                        type: Array,
                        value: [
                            "Sabías que aquellas personas que tienen cuentas de ahorro son más felices que aquellas que no tienen.",
                            "Te recomendamos siempre tips, para ayudarte a aumentar tú dinero.",
                            "Visita BBVA - bbva.mx, no te arrepentiras",
                            "Estás a buen tiempo para desarrollar hábitos benéficos que se queden contigo para el resto de tus días, y que pueden provocar cambios importantes en tu vida.",
                            "Una de las mejores maneras de fomentar la educación financiera en los niños es mediante una cuenta de ahorro.",
                            "Visita Fundación BBVA - https://www.fundacionbbva.mx/",
                            "En apoyo a la economía de los mexicanos, durante la contingencia por el COVID-19, en BBVA México lanzamos un programa que está disponible para todos nuestros clientes"
                        ]
                    },
                    message: {
                        type: String,
                        value: function () {

                            var n = Math.floor(Math.random() * 7);
                            return this.tips[n]
                        }
                    }
                };
            }


           
        }

        window.customElements.define(UserPage.is, UserPage);
    </script>
</dom-module>