<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="register-shop">
    <template>
        <style>
            @media (max-width: 1023px) {
                section {
                    display: block !important;
                }
            }


            section {
                display: flex;
            }

            section>div {
                flex: 1;
                padding: 30px;
            }


            .container {
                position: relative;
                width: 100%;
                overflow: hidden;
                padding-top: 56.25%;
                /* 16:9 Aspect Ratio */
            }

            .responsive-iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border: none;
            }

            h2 {
                text-align: center;
            }
        </style>




        <iron-ajax id="registerShop" url="http://localhost:3002/savingAmountShop" method="post" handle-as="json"
            last-response="{{ajaxResponse}}" on-response="handleResponse">
        </iron-ajax>



        <paper-alert-dialog id="midialog" title="Congratulations" dismiss-button="Cancel" confirm-button="OK">
            <paper-alert-dialog-icon-header icon="">{{alertTitle}}</paper-alert-dialog-icon-header>
            {{alertText}}
        </paper-alert-dialog>



        <section>
            <div>
                <h2>Informacion</h2>
                <paper-input label="Link de video" value="{{urlVideo}}" on-input="changeVideo">
                    <paper-icon-button slot="suffix" icon="clear"></paper-icon-button>
                </paper-input>
                <paper-input label="Titulo de producto" value="{{titleProduct}}" on-input="changeTitle">
                    <paper-icon-button slot="suffix" icon="clear"></paper-icon-button>
                </paper-input>
                <paper-textarea label="Descripcion de producto" value="{{descriptionProduct}}" max-rows="4"
                    on-input="changeDescription"></paper-textarea>
                <paper-input label="Precio de producto" value="{{amountProduct}}" on-input="changeAmount">
                    <paper-icon-button slot="suffix" icon="clear"></paper-icon-button>
                </paper-input>
                <paper-button on-click="registerShop">Registrar</paper-button>
            </div>

            <div>
                <h2>Preview</h2>
                <div>
                    <div class="container">
                        <iframe src$="[[videoPreview]]" class="responsive-iframe" title="video preview" type="text/html"></iframe>
                    </div>
                    <div>
                        <h3>[[titlePreview]]</h3>
                        <p>[[descriptionProductPreview]]</p>
                        <p>$[[amountProductPreview]]</p>
                    </div>
                </div>
            </div>
        </section>

    </template>


    <script>
        /**
         * @customElement
         * @polymer
         */
        class RegisterShop extends Polymer.Element {
            static get is() {
                return 'register-shop';
            }
            static get properties() {
                return {
                    videoPreview: {
                        type: String,
                        value: "https://www.youtube.com/embed/jFkjLq8LLnM"
                    },
                    titlePreview: {
                        type: String,
                        value: "Titulo"
                    },
                    descriptionProductPreview: {
                        type: String,
                        value: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim possimus voluptas perspiciatis unde, id inventore sed fugit ullam odio sint, veniam nesciunt impedit suscipit culpa iste totam maiores repudiandae laudantium?"
                    },
                    amountProductPreview: {
                        type: Number,
                        value: 0
                                        }
                };
            }

            changeVideo() {
                var idUrlVideo = this.urlVideo.replace("https://www.youtube.com/watch?v=", "").replace(
                    "https://youtu.be/", "");
                if (idUrlVideo === "") {
                    this.videoPreview = "https://www.youtube.com/embed/jFkjLq8LLnM";
                } else {
                    this.videoPreview = "https://www.youtube.com/embed/" + idUrlVideo;
                }
            }
            changeTitle() {
                if (this.titleProduct !== "") {
                    this.titlePreview = this.titleProduct
                } else {
                    this.titlePreview = "Titulo"
                }
            }

            changeDescription() {
                if (this.descriptionProduct !== "") {
                    this.descriptionProductPreview = this.descriptionProduct;
                } else {
                    this.descriptionProductPreview =
                        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim possimus voluptas perspiciatis unde, id inventore sed fugit ullam odio sint, veniam nesciunt impedit suscipit culpa iste totam maiores repudiandae laudantium?";
                }
            }

            changeAmount() {
                if (this.amountProduct !== "") {
                    this.amountProductPreview = this.amountProduct;
                    
                } else {
                    this.amountProductPreview = 0;

                }
            }


            registerShop() {
                var obj = {
                    idClient: localStorage.getItem("id"),
                    amount: Number((-1*this.amountProduct)),
                    reason: "Compra en linea",
                    videoPreview:this.videoPreview,  
                    titlePreview:this.titlePreview,
                    descriptionProductPreview:this.descriptionProductPreview 
                }
                this.$.registerShop.params = obj;
                this.$.registerShop.generateRequest();
            }


            handleResponse() {
                if (this.ajaxResponse !== "") {
                    this.alertTitle = "¡Correcto!";
                    this.alertText = "Se registró tu compra en linea."
                    this.$.midialog.open();
                    talk(this.alertText);


                } else {
                    this.alertTitle = "¡Upss!";
                    this.alertText = "Algo extraño ocurrio. Intentelo mas tarde"
                    this.$.midialog.open();
                    talk(this.alertText);
                }
            }
        }
        window.customElements.define(RegisterShop.is, RegisterShop);
    </script>
</dom-module>