<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="chartsjs.html">

<dom-module id="custom-chart">
  <template>
    <style>
      :host {
      }

      .chart-container {
        width: 70%;
        margin: 0 auto;;
      }

      @media (max-width: 1023px) {
        .chart-container {
        width: 100%;
      }
      }
    </style>


    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CustomChart extends Polymer.Element {
      static get is() {
        return 'custom-chart';
      }
      static get properties() {
        return {
          money: {
            type: Array,
            value:[],
            observer: 'updateChart'
          },
          date: {
            type: Array,
            value:[],
            observer: 'updateChart'
          }
        };
      }

      updateChart(){
        var myChart;
        var ctx = this.$.myChart;
        myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: this.date,
            datasets: [{
              label: 'Movimientos',
              data: this.money,
              backgroundColor: 'rgba(0, 106, 255, 0.2)',
              borderColor: 'rgba(0, 106, 255, 0.2)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
        
      }

      
    }

    window.customElements.define(CustomChart.is, CustomChart);
  </script>
</dom-module>