<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../src/login-page/login-page.html">
<link rel="import" href="../../src/register-page/register-page.html">
<link rel="import" href="../../src/home-page/home-page.html">
<link rel="import" href="../../src/error404-page/error404-page.html">

<dom-module id="proyecto-app">
  <template>
    <style>

    </style>


    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <iron-pages selected="[[routeData.page]]" attr-for-selected="name" fallback-selection="page404">
      <login-page name=""></login-page>
      <register-page name="register"></register-page>
      <home-page name="home"></home-page>
      <error404-page name="page404"></error404-page>
    </iron-pages>






  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProyectoApp extends Polymer.Element {
      static get is() {
        return 'proyecto-app';
      }
      static get properties() {
        return {};
      }

      ready() {
        super.ready();


        if ((this.route.path !== "/") && (this.route.path !== "/register") && (this.route.path !== "/home")) {
          setTimeout(function () {
              window.location.replace("/");
            },
            5000);
        } else {
          if (this.route.path === "/register") {
            this.set('route.path', '/register');
          } else {
            if (localStorage.getItem("id") !== "" && localStorage.getItem("id") !== null) {
              this.set('route.path', '/home');
            } else {
              this.set('route.path', '/');
            }
          }
        }







      }

    }

    window.customElements.define(ProyectoApp.is, ProyectoApp);
  </script>
</dom-module>