<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../../bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">


<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="login-page">
  <template>
    <style>
      @media (max-width: 1023px) {
        .seccion {
          flex-direction: column;
        }
      }

      .seccion {
        display: flex;
        color: #ffffff;
        padding: 20px;
      }

      .seccion>div {
        flex: 1
      }

      .seccion>div>img {
        display: block;
        width: 100%;
      }



      app-toolbar {
        background-color: #004481;
      }

      #btnRegister {
        color: #ffffff;
        background-color: #048484;
      }


      iron-form {
        padding: 32px;
        background-color: #FFFFFF;
        border-radius: 6px;
        color: black;
      }

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
      h2,p {
        text-align: center;
      }

      h2.txt{
        font-size: 40px;
      }

      p.txt{
        font-size: 25px;
      }

      iron-form paper-button {
        color: white;
        width: 100%;
        background-color: #048484;
        border-radius: 4px;
        margin-top: 30px;
      }

      #title{
        font-size: 30px;
      }

      #logo {
        display: block;
        width: 60px;
      }

      .seccion:nth-child(2) {
        background-color: #C8E3F1;
      }

      .seccion:nth-child(3) {
        background-color: #86B2F7;
      }
    </style>


    <iron-ajax id="loginUser" url="http://localhost:3002/loginUser" method="get" content-type="application/json"
      last-response="{{ajaxResponse}}" on-response="handleResponse">
    </iron-ajax>

    <paper-alert-dialog id="midialog" title="Upss" confirm-button="OK">
      <paper-alert-dialog-icon-header icon="">¡Que mal!</paper-alert-dialog-icon-header>
      {{message}}
    </paper-alert-dialog>

    <app-toolbar>
      <paper-icon-button icon=""></paper-icon-button>
      <div main-title>
        <img id="logo" src="src/imgs/bbvaheader2.png" alt="image">
      </div>
      <paper-button id="btnRegister" on-click="register">Registrar</paper-button>
    </app-toolbar>


    <div>
      <section class="seccion">
        <div>
          <img src="src/imgs/home2.png" alt="image">
        </div>
        <div>
          <iron-form id="ironform">
            <h2 id="title">Bienvenido</h2>
            <form>
              <paper-input value="{{mail}}" label="Usuario" type="email" auto-validate
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$" error-message="Correo invalido" required>
              <iron-icon icon="mail" slot="prefix" type="number"></iron-icon>
            </paper-input>

            <paper-input value="{{password}}" label="Contraseña" type="password" required>
              <iron-icon icon="lock" slot="prefix"></iron-icon>
            </paper-input>

              <paper-button on-click="login">Entrar</paper-button>
            </form>
          </iron-form>
        </div>
      </section>


      <section class="seccion">
        <div>
          <img src="src/imgs/home1.png" alt="image">
        </div>
        <div class="info">
          <h2 class="txt">SALUD FINANCIERA DESDE NIÑOS</h2>
          <p class="txt">Tener una buena salud financiera significa contar con el dinero suficiente para cubrir gastos y tener ahorros que ayuden a afrontar imprevistos en el futuro.</p>
          <p class="txt">Asi que... porque no empezar desde que somos pequeños</p>
        </div>
      </section>

      <section class="seccion">
        <div>
          <img src="src/imgs/home3.png" alt="image">
        </div>
        <div class="info">
          <h2 class="txt">PARA TODOS</h2>
          <p class="txt">En BBVA nos preocupa tu salud financiera, comparte la página con tus amigos y redes sociales.</p>
        </div>
      </section>

    </div>
  </template>

  <script>
    class LoginPage extends Polymer.Element {
      static get is() {
        return 'login-page';
      }
      static get properties() {
        return {}
      }


      register() {
        window.location.replace("/register");
      }

      login() {

        if (!this.mail || !this.password || !this.$.ironform.validate()) {
          this.message = message.errorForm;
          this.$.midialog.open();
          talk(message.errorForm)

        } else {
          const obj = {
            mail: this.mail,
            password: this.password
          };
          this.$.loginUser.params = obj;
          this.$.loginUser.generateRequest();

        }

      }

      handleResponse() {


        if (this.ajaxResponse !== "" && this.ajaxResponse !== null) {
          talk("¡Bienvenido "+this.ajaxResponse.nombre+"!");
          
          localStorage.setItem("id", this.ajaxResponse._id.$oid);
          localStorage.setItem("name", this.ajaxResponse.nombre);

          sessionStorage.setItem("id", this.ajaxResponse._id.$oid);
          sessionStorage.setItem("name", this.ajaxResponse.nombre);

         
          window.location.replace("/home");
        } else {

          this.message = message.errorLogin;
          this.$.midialog.open();
          talk(message.errorLogin);
        }

      }



    }



    window.customElements.define(LoginPage.is, LoginPage);
  </script>
</dom-module>