<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="option-page">
    <template>
        <style>
            .seccion {
                padding: 30px;
            }

            .seccion div {
                display: flex;
            }

            #delete {
                width: 100%;
                background-color: #990000;
            }

            paper-input {
                width: 100%;
            }

            gold-cc-input {
                width: 100%;
            }

            paper-button {
                color: #ffffff;
                background-color: #048484;
            }
        </style>

        <iron-ajax id="changeDataUserDel" url="http://localhost:3002/{{url}}" method="delete"
            last-response="{{ajaxResponseDel}}" on-response="handleResponseDel">
        </iron-ajax>

        <iron-ajax id="changeDataUser" url="http://localhost:3002/{{url}}" method="put" last-response="{{ajaxResponse}}"
            on-response="handleResponse">
        </iron-ajax>

        <paper-alert-dialog id="midialog" title$="{{title}}" confirm-button="OK">
            <paper-alert-dialog-icon-header icon="">{{header}}</paper-alert-dialog-icon-header>
            {{message}}
        </paper-alert-dialog>

        <paper-alert-dialog id="midialogDel" title="Adios" confirm-button="OK" on-confirm="exit">
            <paper-alert-dialog-icon-header icon="">Bye</paper-alert-dialog-icon-header>
            Se elimino tu cuenta {{nameUser}} y te redireccionaremos a la página principal.
        </paper-alert-dialog>

        <section class="seccion">
            <h2>Cambiar correo</h2>
            <div>
                <paper-input value="{{mail}}" label="Correo" type="email" auto-validate
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$" error-message="Correo invalido">
                    <iron-icon icon="mail" slot="prefix" type="number"></iron-icon>
                </paper-input>

                <paper-button on-click="changeMail">Cambiar</paper-button>
            </div>
        </section>

        <section class="seccion">
            <h2>Cambiar contraseña</h2>
            <div>
                <paper-input value="{{password}}" label="Contraseña" type="password">
                    <iron-icon icon="lock" slot="prefix"></iron-icon>
                </paper-input>

                <paper-button on-click="changePassword">Cambiar</paper-button>
            </div>
        </section>

        <section class="seccion">
            <h2>Cambiar número de tarjeta</h2>
            <div>
                <gold-cc-input auto-validate label="Número de tarjeta" error-message="Tarjeta Visa invalida"
                    card-types='["visa"]' value="{{debitCard}}" char-counter maxlength="16" required>
                </gold-cc-input>

                <paper-button on-click="changeDebitCard">Cambiar</paper-button>
            </div>
        </section>


        <section class="seccion">
            <h2>Eliminar cuenta</h2>
            <div>
                <paper-button id="delete" on-click="deleteAccount">Eliminar</paper-button>
            </div>
        </section>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class OptionPage extends Polymer.Element {
            static get is() {
                return 'option-page';
            }
            static get properties() {
                return {
                    nameUser: {
                        type: String,
                        value: function () {
                            return localStorage.getItem("name")
                        }

                    }
                }
            }

            handleResponse() {
                if (this.ajaxResponse !== "") {

                    this.title = "Exito";
                    this.header = "¡Felicidades!";
                    this.message = "¡Felicidades! Se a actualizado tu información";
                    this.$.midialog.open();
                    talk(this.message);
                } else {
                    this.title = "Upss";
                    this.header = "¡Que mal!";
                    this.message = "Algo salio mal, intenta mas tarde";
                    this.$.midialog.open();
                    talk(this.message);
                }
            }

            changeMail() {
                var obj = {
                    name: this.nameUser,
                    idClient: localStorage.getItem("id"),
                    mail: this.mail
                }

                this.$.changeDataUser.params = obj;
                this.url = "changeMail";
                this.$.changeDataUser.generateRequest();
            }

            changePassword() {
                var obj = {
                    name: this.nameUser,
                    idClient: localStorage.getItem("id"),
                    password: this.password
                }

                this.$.changeDataUser.params = obj;
                this.url = "changePassword";
                this.$.changeDataUser.generateRequest();
            }

            changeDebitCard() {
                var obj = {
                    name: this.nameUser,
                    idClient: localStorage.getItem("id"),
                    debitCard: this.debitCard
                }

                this.$.changeDataUser.params = obj;
                this.url = "changeDebitCard";
                this.$.changeDataUser.generateRequest();
            }

            deleteAccount() {
                var obj = {
                    name: this.nameUser,
                    idClient: localStorage.getItem("id")
                }

                this.$.changeDataUserDel.params = obj;
                this.url = "deleteAccount";
                this.$.changeDataUserDel.generateRequest();
            }

            handleResponseDel() {
                this.$.midialogDel.open();
                localStorage.clear();
                sessionStorage.clear();
                talk("Se elimino tu cuenta " + this.nameUser +
                    " y te redireccionaremos a la página principal.");

            }

            exit() {
                window.location.replace("/");
            }
        }

        window.customElements.define(OptionPage.is, OptionPage);
    </script>
</dom-module>